html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body, h1 {
  margin: 0;
  padding: 0;

  font-family: "Montserrat", sans-serif;
  line-height: 1.5;
}

@media screen and (min-width: 20em) {
  html {
    font-size: 0.75em;
  }
}

@media screen and (min-width: 37em) {
  html {
    font-size: 1.2em;
  }
}

@media screen and (min-width: 65em) {
  html {
    font-size: 3vw;
  }
}

@media screen and (min-width: 75em) {
  html {
    font-size: 2.3em;
  }
}

header {
  background-color: #3cac54;
  color: #effffb;
}

:link {
  color: #ffdc00;
}

a:visited {
  color: #3cac54;
}

h1 {
  font-size: 3em;
  text-shadow: 3px 0px 6px rgba(0,0,0,0.75);
}

h4 {
  font-size: 2em;
  text-shadow: 3px 0px 6px rgba(0,0,0,0.75);
}

header {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
  transition: transform 300ms ease-in-out;
}

li:hover {
  transform: translateX(0.75rem);
}

a::before {
  content: '> ';
}

a {
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Sarabun', sans-serif;

  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
