html,
body {
  max-width: 100%;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: 'Francois One', sans-serif;
  line-height: 1.5;
  background: linear-gradient(#214657, #1c1e30, #020024);
  color: white;
}

.wrapper {
  max-width: 54em;
  margin: 0 auto;
}

.wrapper header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 150px 25px;
  padding-left: 50px;

  img {
    height: 250px;
    width: 250px;
  }
}

.wrapper header h1 {
  font-size: 5rem;
  text-align: center;
}

.wrapper h2 {
  font-size: 3.5rem;
}

.wrapper h3 {
  font-size: 2rem;
}

.wrapper header p {
  line-height: 1.5;
  max-width: 75ch;
  font-size: 1.2rem;
  text-align: center;
}

.wrapper nav {
  align-self: flex-end;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding-top: 24px;
}

li {
  list-style: none;
  margin-right: 24px;
}

a {
  color: white;
  text-decoration: none;
}

.wrapper a:hover {
  text-decoration: underline;
}

.wrapper main {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    margin-bottom: 0;
  }

  ul {
    margin-left: 32px;

    li {
      list-style: disc;

      &::marker {
        color: white;
      }
    }
  }
}

.blm-banner {
  margin: 0;
  background-color: #111;
  color: #eee;
  padding: 16px 0;
  text-align: center;

  font-size: 1.5rem;
}

.blm-banner a {
  display: inline-block;
  margin-right: 1.8rem;
}

.blm-banner a:hover {
  text-decoration: underline;
}
