header {
  background-color: #3cac54;
  color: #effffb;
}

:link {
  color: #ffdc00;
}

a:visited {
  color: #3cac54;
}

h1 {
  font-size: 3em;
}

h4 {
  font-size: 2em;
}

header {
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  flex-direction: column;
}

a:hover {
  transform: scale(1.2);
}

a::before {
  content: '> ';
}

a {
  font-size: 1.2em;
  text-decoration: none;
  font-family: 'Sarabun', sans-serif;
  transition: transform 300ms ease-in-out;
  margin: 10px 20px;
  padding: 10px 20px;
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
